.loginFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginCard {
  margin: auto;
}

a {
  color: var(--zomp);
}

@media (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .loginCard {
    width: 100%;
  }
}
