.customizeWrapper {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: var(--shadow-color) 0px 3px 8px;
  background-color: white;
  padding: 40px;
  box-sizing: border-box;
}

.inputElements {
  flex-direction: column;
  background-color: var(--light-grey);
  width: 728px;
  gap: 12px;
  border-radius: 12px;
  padding: 20px;
}

.uploadButton {
  background-color: var(--light-grey);
  margin-bottom: 24px;
  width: 728px;
  text-align: center;
}

.saveButton {
  text-align: end;
}
