.formContainer {
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 12px;
  max-height: 729px;
  margin: auto;
  width: 476px;
}

.formTitle {
  margin-bottom: 8px;
  font-weight: 600;
}

.formSubtitle {
  margin-bottom: 40px;
  font-weight: 500;
  color: grey;
}

.link {
  color: grey;
  text-align: center;
}

@media (max-width: 480px) {
  .formContainer {
    padding: 40px;
    box-shadow: none;
    max-height: 729px;
    margin: auto;
    width: auto;
    padding: 32px;
  }
}
