.container {
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 12px;
  gap: 40px;
  max-height: 482px;
  margin: auto;
}

.registrationCard {
  margin: auto;
}

.link {
  color: grey;
  text-align: center;
}
