.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadBox {
  width: 193px;
  height: 193px;
  border-radius: 12px;
  border: none;
  background-color: var(--zomp);
  font-family: inherit;
  cursor: pointer;
}

.hiddenInput {
  display: none;
}
