.linkFormHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.buttonDiv {
  display: flex;
}

.saveButton {
  text-align: end;
}

.errorMessage {
  font-size: 12px;
  color: var(--warning-red);
  text-align: end;
}
