.pageContent {
  display: flex;
  padding: 0px 24px 24px 24px;
  gap: 24px;
  justify-content: center;
}

.phonePreviewContainer {
  flex: 0 0 35%;
}

.customizeLinksContainer {
  flex: 0 0 65%;
}

@media (max-width: 768px) {
  .phonePreviewContainer {
    display: none;
  }

  .customizeLinksContainer {
    flex: 1;
  }
}
