.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loginCard {
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 12px;
  gap: 40px;
  max-height: 482px;
  margin: auto;
}

.loginTitle {
  margin-bottom: 8px;
  font-weight: bold;
}

.loginText {
  margin-bottom: 40px;
  font-weight: lighter;
  color: grey;
}

.loginButton {
  width: 100%;
  max-width: 396px;
  min-height: 48px;
  padding: 11px 27px;
  display: flex;
  gap: 8px;
  border-radius: 8px;
  justify-content: center;
}

.link {
  color: grey;
  text-align: center;
}
